@CHARSET "ISO-8859-1";

body {
	font-family: Segoe UI, Arial;
	font-size: 100%;
}

@media only screen and (max-width: 576px) {
    body {
		font-size: 75%;
    }
}

@media only screen and (max-width: 768px) {
    body {
		font-size: 80%;
    }
}

#container {
	
}

#header {
	
}

@media only screen and (max-width: 576px) {
    #header {
    	display: none;
    }
}

#navigation {
}
	
#content {
	width: 90%;
	position: relative;
	margin: 1em auto 1em auto;
}

#footer {
	
}