@CHARSET "ISO-8859-1";

body {
	font-family: Segoe UI, Arial;
	font-size: 100%;
}

#container {
	
}

#header {
	
}

#navigation {
}
	
#content {
	width: 90%;
	position: relative;
	margin: 1em auto 1em auto;
}

#footer {
	
}